@import '../../../dist/ngx-customscrollbars/scss/ngx-customscrollbars';

:host {

  .scrollWrapper {

    display: flex;
    flex-direction: row;
    height: 500px;
    overflow: hidden;

    .scrollView {
      flex: 1;
      overflow-y: auto;
    }
  }

  ::ng-deep {

    $theme: (
      thumbBackground: orange,
      trackBackground: green
    );

    @include ngxCustomScrollbars($theme);
  }
}
