<h3>Vertical Scrollbar</h3>
<div class="scrollWrapper" #scrollWrapper2>
    <!--
  <div class="scrollView" ngxCustomScrollbarScrollable *ngIf="!loading">
    <div *ngFor="let item of items">Lorem Ipsum {{item}}</div>
  </div>
  -->
  <textarea ngxCustomScrollbarScrollable>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi non velit, quam minus tempore asperiores perferendis porro distinctio ducimus similique! Voluptates amet doloremque est fugit assumenda animi, architecto dolor dolorum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias nostrum eaque quod dolorem eveniet, sed laboriosam aspernatur ea tenetur amet veritatis inventore voluptatibus maiores velit facere ducimus excepturi quia voluptatum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. At consequatur quasi itaque! Harum ut excepturi dicta doloremque praesentium laudantium, quibusdam sapiente aspernatur atque porro inventore culpa deleniti obcaecati est esse.
  </textarea>
  <ngx-customscrollbar *ngxCustomScrollbarOverflowY="'auto'"></ngx-customscrollbar>
</div>
