<div class="header">
    <h1>Ngx Custom Scrollbars</h1>
    <nav class="menu--main">
        <ul>
            <li [routerLink]="['']" routerLinkActive="router-link-active" >Vertical Scrollbar</li>
            <li [routerLink]="['/horizontal']" routerLinkActive="router-link-active" >horizontal Scrollbar</li>
            <li [routerLink]="['/horizontal-vertical']" routerLinkActive="router-link-active" >horizontal and vertical Scrollbar</li>
            <li [routerLink]="['/async']" routerLinkActive="router-link-active" >Async Scroll Component</li>
            <li [routerLink]="['/table']" routerLinkActive="router-link-active" >Material Table</li>
        </ul>
    </nav>
</div>
<div class="body">
    <div class="body--content">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="footer">
    @Copyright Qlik2Go
</div>