
:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: #FFF;

  >* {
    box-sizing: border-box;
  }

  .header,
  .body,
  .footer {
    background: white;
  }

  .header,
  .footer {
    color: white;
  }

  .header {
    background: #222 url(../assets/angular.svg) 0 0 no-repeat;
    background-size: contain;
    flex: 0 0 100px;
    padding: 0 0 0 110px;
    color: #FFF;

    .menu--main {
        ul {

            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin-left: 1rem;
                text-transform: capitalize;
                font-weight: bold;

                &:first-child {
                    margin-left: 0;
                }

                &:before {
                    content: "\000BB";
                    margin-right: .5rem;
                    display: inline-block;
                }
            }
        }
    }
  }

  .body {
    box-shadow: 0 0 60px rgba(0, 0, 0, .1);
    margin: 0 auto;
    flex: 1;
    width: 80vw;
    overflow: hidden;
    display: flex;
    padding: 1rem 0;
    flex-direction: row-reverse;

    .body--content {
      overflow: auto;
      flex: 1;
      padding: 0 1rem;
    }
  }

  .footer {
    background: #1a1a1a;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    padding: 1rem;
    color: #D9D9D9;
  }
}
