<h3>Horizontal Scrollbar</h3>
<div class="scrollWrapper" #scrollWrapper2>

  <div class="scrollView" ngxCustomScrollbarScrollable>
    <div *ngFor="let item of items"><span>Ipsum {{item}}</span></div>
  </div>

  <ngx-customscrollbar [scrollDirection]="'horizontal'"></ngx-customscrollbar>
</div>

<div style="margin-top: 40px;">
  <button (click)="resetScrollbar()">Reset Scrollbar</button>
  <button (click)="addContent()">Add Moar Content</button>
  <button (click)="removeContent()">Remove Content</button>
  <button (click)="changeItemContent()">Change Item Content</button>
</div>
